#proyecto
body {
    background-color:#f7d3d3;
    width: 80%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;   
  }
 
  .oscuro{ 
    background-color: #1f1f1f; 
    color: #f1eded; 
}

h1, p, li {
  
  color: inherit; 
}


  
  .custom-font {
    font-family: 'Indie Flower', cursive;
}
  header {
  background-color: #1e52c1;
  color: rgb(255, 0, 0);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}



header

h1{
  text-align: center; 
}
img {
    text-align: center;
}


.rounded-image {
    border-radius: 50%; 
    width: 200px; 
    height: 200px; 
}
.rounded-image {
    border-radius: 50%; 
    width: 200px;
    height: 200px;
    border: 5px solid #333; 
}

.rounded-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid #333;
}

.rounded-image:hover {
    border: 5px solid #00f; 
}



  h1 {
    color: rgb(161, 41, 41);
  }

  p {
    color: rgb(91, 53, 53);
  }

  li {
    color: rgb(121, 102, 102);
  }
  .cv-item {
    margin-bottom: 1em;
  }
  #contact-form {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #c17676;
    border-radius: 10px;
  }
  
  #contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #contact-form form {
    display: flex;
    flex-wrap: wrap;
  }
  
  #contact-form label, #contact-form input, #contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  #contact-form input[type="submit"] {
    background-color: #4CAF50;
    color: #ff0000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  #contact-form input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn-dark {
  position: absolute;
    top: 80%;
    right: 10%;
    background-color: #343a40;
    color: white;
    border: none;
}


